.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

header {
    margin: 30px 0;
}

.logo {
    display: block;
    text-decoration: none;
    width: 292px;
    height: auto;
}

.logo-1 {
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 80px;
    color: #000000;
}

.logo-2 {
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 80px;
    color: #4bcaff;
}

.top-menu {
    width: 100%;
    background-color: #35444f;
    margin-top:30px;
}

.top-menu a {
    display: inline-block;
    text-decoration: none;
    padding: 18px 24px;
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 24px;
    color: #ffffff;
}

.top-menu a:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right:1px solid #818181;
}

.side-menu {
    display: inline-block;
    width: 25%;
    border: 1px solid #35444f;
    text-align: left;
    margin-right: 60px;
}

.side-menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 18px 24px;
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 29.99244px;
    color: #495863;
}

.side-menu a:hover {
    background-color: #dbdbdb;
    color: #000000;
    padding-left: 50px;
}

.article-1 {
    display: inline-block;
    width: 70%;
    height: auto;
    vertical-align: top;
    font-size: 29.99244px;
}

.img-container {
    border: 1px solid #35444f;
}

.scale {
    padding: 80px;

}

.scale:hover {
    transition: 1s;
    transform: scale(1.2);
}

.article-1 p {
    padding: 15px 20px 0px 20px;
    text-align: left;
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 18px;
    color: #2c2c2c;
}

footer {
    margin: 30px 0;
    background-color: #b4b7ba;
    text-align: left;
}

.bottom-menu {
    width: 84%;
    display: inline-block;
}

.bottom-menu a {
    display: inline-block;
    text-decoration: none;
    padding: 18px 18px;
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 28px;
    color: #0c1927;
}

.bottom-menu a:hover {
    text-decoration: underline;
    color: #3181a6;
}

.copyright {
    font-family: "MyriadPro-Regular", "Courier", "sans-serif";
    font-size: 24px;
    color: #010101;
}

.newdiv {
    background-color: red;
}